body {
    background-color: violet;
    color: white;
}

#area {
    background-color: #94f865;
    width: 200px;
    height: 200px;
    text-align: center;
    font: 20px;
    line-height: 200px;
}

.resultado {
    font-size: 26px;
    font-weight: bold;
}